<!DOCTYPE html>
<html>
<head>
  <title>NoteAppMongoRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse top-bar">
<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NoteApp</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'New', new_note_path, class: 'btn btn-primary'%></li>
      </ul>
  </div>
</nav>
<%= yield %>

</body>
</html>
